{% extends 'base.html' %}
{% block title %}edit Blog post{% endblock %}
{% block content %}

    
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1>Update Post...</h1>
        <br/><br/>
        <div class="mb-3">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-primary">Update</button>
        </form>
        </div>
    {% else %}
        Please Login to Edit Posts on this page.
    {% endif %}    
{% else %}

Please Login to Edit Posts on this page.

{% endif %}

{% endblock %}