{% extends 'base.html' %}
{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="media/images/Css/style.css">
    

<h1>Top Travel Tips & Tricks</h1>
<br/>
<div></div>
    <br/>
    <h2>Your Go to Blog for all of things travel!<br><br/>
        All posts are written by the people that have been to the places that you are wanting to go!<br> 
        Whether it is to look for great hotels, restaurants or excursions you will find it all here!<br> <br>
        please make sure that you come back to make your own suggestions to help someone else on their own adventure!</h2>
    <br/>
    
    
    </div>


{% endblock %}